.logos {
    border-image-width: 1;
    border-width: 1;
    border-radius: 50%;
}
body {
    background:  linear-gradient(90deg, #53F10E, #ccc)
 }
.active_morado{
    background-color: rgb(130, 34, 240);
    color:white;
}
.active_naranja{
    background-color: rgb(250, 182, 35);
    color:white;
}

.fondo_amarillo{
    background:  linear-gradient(90deg, #fcf701, #ccc)
}

.fondo_rojo{
    background:  linear-gradient(90deg, #fc0101, #ccc)
}
.fondo_azul{
    background:  linear-gradient(90deg, #0198fc, #ccc)
}

.fondo_morado{
    background:  linear-gradient(90deg, #a001fc, #ccc)
}