p {
  width: 50px;
  color: #050505; }

.letracolor {
  color: tomato;
  background: black;
  width: 100%; }
  .letracolor .lcolor {
    color: tomato;
    background: #9c4141;
    width: 100%; }

.letramargen {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10x; }

.letratransform {
  text-transform: capitalize;
  letter-spacing: normal;
  word-spacing: 5px;
  text-shadow: 2px 2px 2px #000;
  line-height: 18px;
  font-family: "Verdana";
  transform: rotate(0.5deg); }

h1 {
  color: white;
  background: black;
  border: 10px   solid #000;
  margin: auto;
  border-radius: 20px;
  font-family: "Verdana";
  text-align: center; }

h2 {
  color: #75fcea;
  font-size: 20px; }

h3 {
  color: black; }

tr {
  border: red;
  background-color: blue;
  border-radius: 50px; }

ul {
  list-style: oriya; }

.logos {
  border-image-width: 1;
  border-width: 1;
  border-radius: 50%; }

.grid {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 40px 40px 40px;
  grid-template-areas: "head head" "menu main" "foot foot"; }

.a {
  grid-area: head;
  background: blue; }

.b {
  grid-area: menu;
  background: red; }

.c {
  grid-area: main;
  background: green; }

.d {
  grid-area: foot;
  background: orange; }

.containerc {
  display: grid;
  grid-template-columns: 400px 600px;
  grid-template-rows: 300px 100px;
  /*grid-template-rows: repeat(6, 100px);*/
  /*grid-gap:1rem;*/
  grid-template-areas: "box1 box3"  "box2 box3" "box4 box4"; }

.box-1c {
  grid-area: box1;
  background-color: 53F10E; }

.box-2c {
  grid-area: box2;
  background-color: 53F10E; }

.box-3c {
  grid-area: box3;
  background-color: 53F10E; }

.box-4c {
  grid-area: box4;
  background-color: 53F10E; }

@media only screen and (min-width: 768px) {
  .containerT {
    grid-template-columns: repeat(4, 1fr); }
  .box-2 {
    grid-row: 1 / 3;
    grid-column: 1 / 3; }
  .box-1 {
    grid-row: 1 / 2;
    grid-column: 3 / 5; }
  .box-3 {
    grid-column: 3 / 5;
    grid-row: 2 / 3; }
  .box-4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4; } }

body {
  background: linear-gradient(90deg, #53F10E, #ccc); }

@keyframes efecto {
  0% {
    width: 100px; }
  25% {
    width: 300px; }
  50% {
    width: 200px;
    background-color: yellowgreen; }
  75% {
    width: 300px; }
  100% {
    width: 100px;
    background-color: green; } }

/*esta llave cierra el un_efecto */
section {
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 5s;
  animation-delay: 1s; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto; }

.boton {
  border: none;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  background: #000;
  color: #fff;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: #403CC2;
  transition: .3s ease all; }

.boton:hover {
  background: #f5f5f7; }

.boton--rojo {
  background: red; }

.boton--verde {
  background: green; }

.boton--amarillo {
  background: yellow; }

.boton__texto {
  color: black;
  transform: translate(35px); }

.boton__icono {
  color: black; }

.texto {
  color: #20c7fa; }
